@charset "utf-8";

.contador{
    width: 35rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.butoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 12rem;
}

h1{
    font-size: 1.4rem;
    text-align: center;
}

h2{
    font-size: 1.2rem;
    text-align: center;
}